/**
 * Novo SGA - Relatorio
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
#report {
    padding: 10px;
}

#report #report-header {
    padding: 10px 10px 10px 130px;
    background: url(../../../../images/novosga-navbar.png) no-repeat 10px center;
}

#report #report-header .print {
    float: right;
}

#report #report-header h1 {
    padding: 10px 0 15px 20px;
    border-left: 2px solid #ccc;
}

#report #report-body .header {
    padding: 10px 0 5px 0;
    text-align: center;
}

#report #report-body thead th {
    padding: 10px 8px;
}

#report #report-footer {
    color: #ccc;
    text-align: center;
}

#report .sub-table, .sub-table>td {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

#report .sub-table>td {
    padding-bottom: 10px !important;
}

table.subservicos td.nome {
    padding-left: 50px;
}

.vam { vertical-align: middle !important; }
.tac { text-align: center !important; }