{% for dado in relatorio.dados %}
<div class="header">
    <h2>{{ dado.cargo }}</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Módulos{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for permissao in dado.permissoes %}
        <tr>
            <td>{{ permissao.modulo.nome }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}