/**
 * Novo SGA - Monitor
 * icon(s) by pixel-mixer.com
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
 
#monitor .search {
    padding: 5px;
}
 
#monitor .servico {
    width: 100%;
    margin: 5px 0;
    float: left;
    
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#fff), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top,#fff,0%,#f8f8f8,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    
    clear: both;
}

#monitor .servico .title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 0 10px;
    display: block;
}

#monitor .servico.empty { display: none; }

#monitor .servico .fila {
    padding: 5px 0 0 30px;
    background-image: url(../images/client-16.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    float: left;
}

#monitor .servico .fila li {
    padding: 2px 5px;
    list-style: none;
    float: left;
}

#monitor .servico .fila li a {
    float: left;
}

#monitor .servico .fila li.prioridade a {
    color: red;
}

#dialog-transfere div #transfere_numero {
    font-size: 22px;
    display: block;
}


#dialog-busca .modal-dialog {
    width: 90%;
}