{% extends "crud/list.html.twig" %}
{% block thead %}
    <th>{% trans %}Nome{% endtrans %}</th>
    <th>{% trans %}Chave{% endtrans %}</th>
    <th>{% trans %}Status{% endtrans %}</th>
{% endblock %}
{% block tbody %}
    <td>{{ item.nome }}</td>
    <td>{{ item.chave }}</td>
    <td>
        {% if item.status == 1 %}
        <span class="status-active">{% trans %}Ativo{% endtrans %}</span>
        {% else %}
        <span class="status-inactive">{% trans %}Inativo{% endtrans %}</span>
        {% endif %}
    </td>
{% endblock %}