{% extends "crud/list.html.twig" %}
{% block thead %}
    <th>{% trans %}Nome{% endtrans %}</th>
{% endblock %}
{% block tbody %}
    <td>
        <span style="padding-left: {{ item.level * 25 }}px">
            {{ item.nome }}
        </span>
    </td>
{% endblock %}
