{% set unidade = app.user.lotacao.unidade %}

<ul class="nav navbar-nav">
    {% if unidade %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ unidade.nome }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for module in modules %}
                    {% if app.user.admin or is_granted(module.roleName) %}
                        <li>
                            <a href="{{ path(module.homeRoute) }}">
                                <i class="fa fa-{{ module.iconName }} fa-fw"></i>
                                {{ module.displayName }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li role="separator" class="divider"></li>
                <li>
                    <a href="#dialog-unidade" data-toggle="modal">
                        <span class="fa fa-exchange"></span> &nbsp;
                        {% trans %}Trocar unidade{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
    {% else %}
        <li>
            <a href="#dialog-unidade" data-toggle="modal">
                {% trans %}Escolhe unidade{% endtrans %}
            </a>
        </li>
    {% endif %}
</ul>
