@font-face {
    font-family: "Ubuntu";
    src: url('../../css/fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: "Ubuntu";
    src: url('../../css/fonts/Ubuntu-B.ttf');
    font-weight : bold;
}

@font-face  {
    font-family: "Ubuntu";
    src: url('../../css/fonts/Ubuntu-RI.ttf');
    font-style : italic;
}

@font-face {
    font-family: "Ubuntu";
    src: url('../../css/fonts/Ubuntu-BI.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "UbuntuMono";
    src: url('../../css/fonts/UbuntuMono-R.ttf');
}

* {
    padding: 0;
    margin: 0;
}

html, body { 
    overflow: hidden;
    font-family: Ubuntu;
}

html, body, #layout {
    width: 100%;
    height: 100%;
}

#layout { background-color: #003f81; }

#layout td {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

#layout .top {
    height: 15%;
}
#layout .top td { width: 100%; height: 100%; }

#layout .center {
    height: 60%;
}

#layout .center .left { width: 70%; }
#layout .center .right { width: 30%; }

#layout .bottom {
    height: 25%;
}
#layout .bottom td { width: 100%; height: 100%; }

div.fittext {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 
 * Senha Atual - Ultima senha chamada
 */
#atual-mensagem span {
    color: #fff;
    margin: 15px 0 0 10px;
}

#atual-mensagem span {
    padding: 0 20px;
}

/* guiche */
#atual-senha {
    color: #F8CA00;
    font-weight: bold;
}

/* guiche */

#atual-guiche {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

#atual-guiche-numero {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

/*
 * Ultimas senhas chamadas
 */
#historico {
    height: 100%;
}

#historico .titulo {
    color: #ccc;
    height: 30%;
    padding-left: 20px;
}

#historico .senhas {
    height: 70%;
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
    border-radius: 8pt;
    margin: 0 5pt;
    padding: 0 10pt;
}

#historico .senhas * { color: #fff; }

#historico .senhas div.senha-chamada {
    width: 20%;
    height: 100%;
    display: inline-block;
}

#historico .senhas div.senha-chamada div.fittext { width: 100%; }

#historico .senhas div.senha-chamada div.senha { height: 60%; font-weight: bold; }
#historico .senhas div.senha-chamada div.guiche { height: 40%; }

/* menu */
#menu {
    top: 10px;
    right: 10px;
    height: 50px;
    background: #000;
    position: fixed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 5px #333;
}

#menu li {
    list-style: none;
    float: left;
}

#menu li a {
    color: #aaa;
    padding: 0 15px;
    line-height: 50px;
    text-decoration: none;
    float: left;
}

#menu li a:hover { color: #fff; }

/* config */
#config {
    overflow: hidden;
    padding: 20px;
}

#config .field {
    padding: 5px 0;
}

#config #unidades {
    width: 300px;
}

#config .field label {
    width: 100px;
    display: inline-block;
}

#config .servicos label { padding-bottom: 10px; }

#config #servicos { 
    width: 100%;
    height: 280px;
    overflow: auto;
    background: #f1f1f1;
}

#config #servicos ul {
    padding: 10px 0 10px 10px;
    list-style: none;
}

#config #servicos ul li {
    padding: 2px 0;
    display: block;
}

#config #servicos ul li input { margin: 0 10px 0 0; }