{% extends "admin.html.twig" %}

{% block adminContent %}
    <h1>
        {% trans %}Perfis{% endtrans %}
        <small>
            {% trans %}Cadastro de perfis de acesso{% endtrans %}
        </small>
    </h1>
        
    <div class="text-right">
        <a href="{{ path('admin_perfis_new') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {% trans %}Novo perfil{% endtrans %}
        </a>
    </div>
        
    <table class="table table-bordered">
        <thead>
            <th>#</th>
            <th>{% trans %}Nome{% endtrans %}</th>
            <th></th>
        </thead>
        <tbody>
            {% for perfil in perfis %}
                <tr>
                    <td>
                        {{ perfil.id }}
                    </td>
                    <td>
                        {{ perfil.nome }}
                    </td>
                    <td>
                        <a href="{{ path('admin_perfis_edit', { id: perfil.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}