/**
 * Novo SGA - Triagem Impressão de senha
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
 
#senha {
    width: 300px;
    min-height: 150px;
    margin: auto;
}

#senha * {
    font-family: monospace;
    font-size: 12pt;
    text-align: center;
    line-height: 1;
}

#senha header {
    font-size: 10pt;
    padding: 10px 0;
}

#senha header p {
    margin: 0;
}

#senha header .unidade {
    font-size: 14pt;
    font-weight: bold;
}

#senha section {
    font-size: 10pt;
    padding: 10px 0;
}

#senha section p {
    margin: 5px 0;
}

#senha section .prioridade {
    font-weight: bold;
}

#senha section .senha {
    font-size: 35pt;
    line-height: 50pt;
    font-weight: bold;
}

#senha section .data-hora {
    padding: 10pt 0;
}

#senha footer {
    font-size: 8pt;
    padding: 10px 0;
}

#senha footer p {
    margin: 0;
}