/**
 * Novo SGA - Main Style
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
#ajax-loading {
    top: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    z-index: 99999;
}

.mini-loading {
    width: 40px;
    height: 20px;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    display: block;
}

body>footer {
    clear: both;
    padding: 40px;
}

body>footer p {
    color: #ccc;
    text-align: right;
}

/* internal clock */
.clock {
    bottom: 15px;
    right: 15px;
    padding: 10px 15px;    
    position: fixed;
    background: #333;
    border-radius: 5px;
}

.clock span {
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.clock span.sep { width: 15px; }

.clock .time span {
    color: #fff;
    font-size: 20px;
}

.clock .date { padding-top: 2px; }

.clock .date span {
    color: #ccc;
    font-size: 14px;
}

body>.container-fluid>h1 {
    padding: 0 0 20px 10px;
    margin: 0;
}

[v-cloak] {
  display: none;
}

input[type=color] {
    height: 40px;
    max-width: 80px;
}