/**
 * Novo SGA - Atendimento
 * icon(s) by pixel-mixer.com
 */
 
#dialog-guiche div {
    padding: 15px 0;
}

#dialog-guiche div label {
    width: 95px;
    padding: 5px 0;
    float: left;
}

#dialog-guiche div input {
    text-align: right;
}

#atendimento {
    position: relative;
}

#atendimento #guiche {
    top: -10px;
    left: 20px;
    min-width: 110px;
    height: 150px;
    position: absolute;
    background-color: #F8CA00;
    border-bottom: 3px solid #333;
}

#atendimento #guiche span {
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    display: block;
}

#atendimento #guiche .label {
    padding-top: 15px;
    padding-bottom: 20px;
}

#atendimento #guiche .numero {
    font-size: 80px;
    padding: 10px 0;
}

#atendimento #guiche a {
    color: #666;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    display: block;
}

#atendimento #guiche a:hover { color: #000; }

#atendimento #controls {
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

#atendimento #controls .btn-control {
    margin: 10px;
}

#atendimento #controls .btn-control span {
    padding-top: 60px;
    background-position: center 5px;
    background-repeat: no-repeat;
}

#atendimento #controls .btn-control.chamar span { background-image: url(../images/icon-chamar); }
#atendimento #controls .btn-control.iniciar span { background-image: url(../images/icon-iniciar); }
#atendimento #controls .btn-control.encerrar span { background-image: url(../images/icon-encerrar); }

#atendimento .senha_info {
    height: 110px;
    padding: 20px 0;
}

#atendimento .senha_info li {
    list-style: none;
    padding: 3px 0;
    display: block;
    clear: both;
}

#atendimento .senha_info li .label {
    width: 100px;
    float: left;
}

#atendimento .senha_info li.numero .value {
    font-size: 30px;
    font-weight: bold;
}

#atendimento .senha_info.prioridade li.numero .value { color: red; }
#atendimento .senha_info.prioridade li.prioridade .value { font-weight: bold }

#atendimento #fila span {
    font-weight: bold;
    padding-right: 10px;
    float: left;
}

#atendimento #fila ul {
}
    
#atendimento #fila ul li {
    list-style: none;
    display: inline;
    padding: 5px;
}

#atendimento #fila ul li.proximo {
    font-size: 20px;
}

#atendimento #fila ul li.prioridade {
    color: red;
}