/**
 * Novo SGA - Atendimento
 * icon(s) by pixel-mixer.com
 * @author rogeriolino
 */
 
#dialog-guiche div {
    padding: 15px 0;
}

#dialog-guiche div label {
    width: 95px;
    padding: 5px 0;
    float: left;
}

#dialog-guiche div input {
    text-align: right;
}

#atendimento {
    position: relative;
}

/* guiche */

#atendimento #guiche {
    top: -10px;
    left: 20px;
    min-width: 110px;
    height: 150px;
    background-color: #F8CA00;
    border-bottom: 3px solid #333;
    position: absolute;
    float: left;
}

#atendimento #guiche span {
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    display: block;
}

#atendimento #guiche .label {
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 14px;
}

#atendimento #guiche .numero {
    font-size: 80px;
    line-height: 80px;
    padding: 5px 0;
}

#atendimento #guiche a {
    color: #666;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    display: block;
}

#atendimento #guiche a:hover { color: #000; }

/* controls */

#atendimento #controls {
    min-height: 300px;
    padding-left: 160px;
}

#atendimento #controls .btn-control {
    margin: 10px;
}

#atendimento #controls .btn-control span {
    min-width: 80px;
    padding-top: 60px;
    background-position: center 5px;
    background-repeat: no-repeat;
}

#atendimento #controls .btn-control.chamar span { background-image: url(../images/icon-chamar.png); }
#atendimento #controls .btn-control.iniciar span { background-image: url(../images/icon-iniciar.png); }
#atendimento #controls .btn-control.encerrar span,
#atendimento #controls .btn-control.codificar span { background-image: url(../images/icon-encerrar.png); }
#atendimento #controls .btn-control.encerrar_voltar span { background-image: url(../images/icon-voltar.png); }
#atendimento #controls .btn-control.nao_compareceu span { background-image: url(../images/icon-naocompareceu.png); }
#atendimento #controls .btn-control.erro_triagem span { background-image: url(../images/icon-errotriagem.png); }

#atendimento #controls #codificar .left {
    width: 400px;
    margin: 0 5px;
}

#atendimento #controls #codificar h3 {
    padding-bottom: 10px;
}

#atendimento #controls #codificar .items {
    padding: 10px;
    border-radius: 3px;
    background-color: #F7F9FE;
    border: 1px solid #E1E1E8;
}

#atendimento #controls #codificar .items ul { padding: 5px 10px; }

#atendimento #controls #codificar #macro-servicos {
    height: 300px;
}

#atendimento #controls #codificar #servicos-realizados {
    height: 150px;
}

#atendimento #controls #codificar div.redirecionar {
    padding: 20px 0 5px 10px;
}

#atendimento #controls #codificar div.redirecionar input {
    margin-right: 5px;
}

/* controls - atendimento info */

#atendimento #controls .senha {
}

#atendimento #controls .senha .title {
    padding: 5px 10px;
}

#atendimento #controls .senha .info {
    height: 110px;
    padding: 15px 20px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e8;
}

#atendimento #controls .senha .info li {
    height: 20px;
    list-style: none;
    padding: 3px 0;
    display: block;
}

#atendimento #controls .senha .info li .label {
    width: 100px;
    float: left;
}

#atendimento #controls .senha .info li.numero .value {
    font-size: 30px;
    font-weight: bold;
}

#atendimento #controls .senha .info.prioridade li.nome-prioridade .value { font-weight: bold }

/* fila */

#atendimento #fila {
    clear: both;
}

#atendimento #fila span {
    font-weight: bold;
    padding: 5px 0 5px 10px;
    display: block;
}

#atendimento #fila ul {
    min-height: 40px;
    padding: 0 0 10px 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F7F9FE;
    background-image: url(../images/client-16.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 1px solid #e1e1e8;
}
    
#atendimento #fila ul li {
    list-style: none;
    display: inline;
    padding: 12px 6px 0 6px;
    display: inline-block;
}

#atendimento #fila ul li.proximo {
    font-size: 20px;
}

#atendimento #fila ul li.empty {
    color: #999;
    font-style: italic;
    padding-top: 15px;
}
