plugins: ~

modules:
    novosga.settings:
        class: \Novosga\SettingsBundle\NovosgaSettingsBundle
        active: true
    novosga.triagem:
        class: \Novosga\TriagemBundle\NovosgaTriagemBundle
        active: true
    novosga.monitor:
        class: \Novosga\MonitorBundle\NovosgaMonitorBundle
        active: true
    novosga.attendance:
        class: \Novosga\AttendanceBundle\NovosgaAttendanceBundle
        active: true
    novosga.reports:
        class: \Novosga\ReportsBundle\NovosgaReportsBundle
        active: true
    novosga.users:
        class: \Novosga\UsersBundle\NovosgaUsersBundle
        active: true