{% extends "admin.html.twig" %}

{% block adminContent %}
    <fieldset>
        <legend>Web API</legend>
        <p>As URLs abaixo são usadas para integrar o Novo SGA com outros projetos, como por exemplo o <strong>Painel Web</strong> e a <strong>Triagem Touch</strong>.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Method</th>
                    <th>URI</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="label label-danger">POST</span>
                    </td>
                    <td>
                        /api/token
                    </td>
                    <td>
                        Autentica o usuário retornando o token de acesso.
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label label-success">GET</span>
                    </td>
                    <td>
                        /api/unidades
                    </td>
                    <td>
                        Retorna todas as unidades disponíveis
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label label-success">GET</span>
                    </td>
                    <td>
                        /api/prioridades
                    </td>
                    <td>
                        Retorna todas as prioridades disponíveis
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label label-success">GET</span>
                    </td>
                    <td>
                        /api/servicos
                    </td>
                    <td>
                        Retorna os serviços globais
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label label-success">GET</span>
                    </td>
                    <td>
                        /api/servicos/:unidade
                    </td>
                    <td>
                        Retorna os serviços habilitados para a unidade informada
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label label-danger">POST</span>
                    </td>
                    <td>
                        /api/distribui
                    </td>
                    <td>
                        Distribui uma nova senha para atendimento. Requer autenticação, um access_token válido e ativo.
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend>{% trans %}Clientes{% endtrans %}</legend>
        <p>Para acessar algumas URLs é necessário possuir um token de acesso, e para isso é necessário primeiro cadastrar a aplicação cliente.</p>
        <table id="oauth_clients" class="table table-striped">
            <thead>
                <tr>
                    <th>Client Id</th>
                    <th>Client Secret</th>
                    <th>Redirect URI</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="buttons">
                        <a href="#dialog-clientid" data-toggle="modal" class="btn btn-default" onclick="$('#dialog-clientid :input').val('');">
                            <span class="glyphicon glyphicon-plus"></span>
                            {% trans %}Adicionar{% endtrans %}
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </fieldset>
{% endblock %}
