/**
 * Novo SGA - Usuarios
 * icon(s) by pixel-mixer.com
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
fieldset p.info {
    color: #999;
}

fieldset .btn-multi-add {
    margin: 0 5px 5px 0;
    float: right;
}

th.check, td.check {
    width: 1%;
    text-align: center;
}

td.cargo a {
    border-bottom: 1px dashed #999;
}

#add-servicos {
    padding: 5px 0;
    clear: both;
}

#add-servicos ul {
    height: 200px;
    list-style: none;
    padding: 5px 10px;
    background-color: #f1f1f1;
    overflow: auto;
}

#add-servicos ul li {
    padding: 5px 0;
}

#add-servicos ul li input {
    margin-right: 10px;
}
