RewriteEngine On
# modules resources
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^modules/(\w+)\.(\w+)/(.+)/(.+)$ /../modules/$1/$2/public/$3/$4 [N]
# app rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]