<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Not found | Novo SGA</title>
    <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/login.css" />
    <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="{{ baseUrl() }}/images/favicon.png" />
</head>
<body>
    <div class="container">
        <h1>404</h1>
        
        <p>{% trans %}Página não encontrada{% endtrans %}</p>
        
        <a href="{{ baseUrl() }}">{% trans %}Início{% endtrans %}</a>
    </div>
</body>
</html>