/**
 * Novo SGA - Unidade
 * icon(s) by pixel-mixer.com
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */


#servicos td.sigla {
    width: 60px;
}

#servicos td.sigla input { text-align: center; }

#servicos td.nome .input-group {
    width: 100%;
}

.paineis {
    padding: 10px 0 20px 0;
    float: left;
}

.paineis li {
    padding: 0 15px;
    list-style: none;
    float: left;
}

.paineis li a {
    color: #fff;
    font-size: 10px;
    width: 90px;
    text-align: center;
    padding: 17px 0 35px 0;
    background: url(../images/painel.png) no-repeat center 0;
    float: left;
}

.paineis li a span {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    display: block;
}

.paineis li a span.ip {
    font-weight: normal;
    font-size: 10px;
}

#dialog-painel div {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    clear: both;
}

#dialog-painel div:last-child {
    border-bottom: none;
}

#dialog-painel div label {
    width: 100px;
    font-weight: bold;
    float: left;
}

#dialog-painel div ul {
    padding: 10px 0 20px 20px;
    clear: both;
}