/**
 * Novo SGA - Main Style
 * @author rogeriolino
 */
 
@font-face {
    font-family: "Ubuntu";
    src: url('fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: "Ubuntu";
    src: url('fonts/Ubuntu-B.ttf');
    font-weight : bold;
}

@font-face  {
    font-family: "Ubuntu";
    src: url('fonts/Ubuntu-RI.ttf');
    font-style : italic;
}

@font-face {
    font-family: "Ubuntu";
    src: url('fonts/Ubuntu-BI.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "UbuntuMono";
    src: url('fonts/UbuntuMono-R.ttf');
}


* {
    padding: 0;
    margin: 0;
}

/* login */
.login #logo {
    top: 50%;
    left: 50%;
    width: 270px;
    height: 108px;
    margin-top: -230px;
    margin-left: -135px;
    background-image: url(../images/novosga-login.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
}

#dialog-login {
    width: 380px;
}

#dialog-login .ui-dialog-content div {
    padding: 10px 5px;
}

#dialog-login .ui-dialog-content .ui-state-error {
    padding: 5px;
    margin: 10px;
    text-align: center;
    display: block;
}

#dialog-login .ui-dialog-content label {
    width: 70px;
    padding: 10px 0 0 0;
    float: left;
}

#dialog-login .ui-dialog-content input {
    width: 250px;
}

#dialog-unidade {
}

#geral {
    min-width: 800px;
}

#ajax-loading {
    top: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.mini-loading {
    width: 40px;
    height: 20px;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    display: block;
}

/* home */
#home {
    padding: 20px;
}

#home .welcome {
    padding-bottom: 20px;
}

#home .welcome h1 {
    margin: 0;
    padding: 5px 0;
}

#home .modules h2 {
    margin: 0;
    padding: 5px 0;
}

#home p {
    color: #999;
    padding: 5px 0;
}

#home #modules .list {
    padding-bottom: 10px;
    clear: both;
}

#home #modules ul {
    margin: 0;
}

#home #modules ul li {
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    list-style: none;
    float: left;
}

#home #modules ul li a {
    width: 100%;
    float: left;
}

#home #modules ul li a img {
    width: 48px;
    height: 48px;
    border: 0;
}

#home #modules ul li a span {
    display: block;
}

/* error page */
#error-page {
    padding: 30px 50px;
}

#error-page h2 { padding: 30px 0 15px 0; }

/* internal navabar */
#navbar {
    height: 50px;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear background-image;
    -moz-transition: 0.1s linear background-image;
    -ms-transition: 0.1s linear background-image;
    -o-transition: 0.1s linear background-image;
    transition: 0.1s linear background-image;
    overflow: visible;
}

#navbar .home {
    border-radius: 0 !important;
    padding-top: 7px;
}

#navbar .home, #navbar .home a {
    width: 130px;
    line-height: 0;
    float: left;
}

#navbar .home a {
    height: 38px;
    text-indent: -900px;
    margin: 0;
    background-image: url(../images/novosga-navbar.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#navbar .home a:hover {
    background-color: transparent;
}

#navbar li, #navbar a {
    box-shadow: 0 0 0 !important;
    border-width: 0 !important;
}

#navbar ul>li {
    background: none !important;
}

#navbar li.first {
    margin-left: 10px;
}

#navbar #navbar-menu {
    height: 50px;
    margin: 0;
    padding: 0;
}

#navbar li, #navbar li a {
    float: left;
}

#navbar li {
    list-style: none;
    position: relative;
}

#navbar li.separator {
    border-top: 1px solid #ccc;
}

#navbar li a {
    padding: 16px 3px;
}

#navbar li a span {
    padding: 5px 10px;
    border-radius: 5px;
}

#navbar li:hover>a span {
    font-weight: normal;
}

#navbar li a:hover span {
    font-weight: normal;
}

#navbar li ul {
    top: 48px;
    left: 0px;
    padding: 3px;
    position: absolute;
    border-top: 2px solid #666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    z-index: 9999;
}

#navbar li ul ul {
    top: 0;
    left: 125px;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#navbar li ul, #navbar li ul li {
    width: 150px;
}

#navbar li ul li a {
    padding: 2px 0;
}

#navbar li ul li a span {
    width: 130px;
    display: block;
}

#navbar li:hover>ul {
    display: block;
}

#navbar .user {
    margin-right: 30px;
    float: right;
}

#navbar .logout {
    margin-right: 10px;
    float: right;
}

#footer {
    clear: both;
    padding: 40px;
}

#footer p {
    color: #ccc;
    text-align: right;
}

/* internal clock */
#sga-clock {
    bottom: 15px;
    right: 15px;
    padding: 10px 15px;    
    position: fixed;
    background: #333;
    border-radius: 5px;
}

#sga-clock span { 
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

#sga-clock span.sep { width: 15px; }

#sga-clock .time span {
    color: #fff;
    font-size: 20px;
}

#sga-clock .date { padding-top: 2px; }

#sga-clock .date span {
    color: #ccc;
    font-size: 14px;
}

/* module layout */
.module-content {
    padding: 0 20px;
}

.module-content .header {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
}

.module-content .header h2 {
    padding: 5px 0 0 0;
}

.module-content .header img {
    width: 48px;
    height: 48px;
    margin: 0 15px 0 5px;
    float: left;
}

.module-content div.messages { padding-top: 10px; }

/* search */
.search {
    padding: 0 10px 0 0;
}

.search .btn-add {
    float: right;
}

/* helper > form */
.required-desc {
    color: #ea852a;
    padding: 5px 0 5px 20px;
}

div.field {
    min-height: 25px;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.required-desc,
div.required label {
    background-image: url(../images/icon-required.png);
    background-repeat: no-repeat;
}
.required-desc { background-position: 0 center; }
div.required label { background-position: right 5px; }

fieldset {
    padding: 10px !important;
    margin: 5px 0 10px 0;
    border: 1px solid #e1e1e1 !important;
    border-radius: 5px;
}

fieldset legend {
    background: transparent;
    padding: 0 10px 5px 10px !important;
    margin: 0;
    border: 0;
}

div.field:last-child {
    border-bottom: none;
}

div.field label {
    width: 110px;
    padding: 5px 0 0 10px;
    float: left;
}

/* field checkbox */
div.field.checkbox {
}

div.field.checkbox input { 
    margin: 2px 5px 0 10px;
    float: left; 
}

div.field.checkbox label {
    width: 300px;
    float: none !important;
}

div.buttons {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    clear: both;
}

div.buttons span.btns {
    padding-left: 10px;
    float: left;
}

div.buttons p.required-desc {
    margin-left: 20px;
    float: left;
}

div.buttons .ui-button {
    margin: 0 5px;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.center { text-align: center }

.error { color: red; }
.prioridade { color: #A30006; }
.strong { font-weight: bold; }
.active { color: green; }
.inactive { color: red; }

.servico-mestre { font-weight: bold; display: block; }
.sub-servico { padding-left: 25px; display: block; }

.w25 { width: 25px !important; }
.w50 { width: 50px !important; }
.w75 { width: 75px !important; }
.w100 { width: 100px !important; }
.w125 { width: 125px !important; }
.w150 { width: 150px !important; }
.w175 { width: 175px !important; }
.w200 { width: 200px !important; }
.w250 { width: 250px !important; }
.w300 { width: 300px !important; }
.w400 { width: 400px !important; }
.w500 { width: 500px !important; }
.w600 { width: 600px !important; }
.w700 { width: 700px !important; }
.w100pct { width: 100% !important; }

.h25 { height: 25px !important; }
.h50 { height: 50px !important; }
.h75 { height: 75px !important; }
.h100 { height: 100px !important; }
.h150 { height: 150px !important; }
.h200 { height: 200px !important; }
.h250 { height: 250px !important; }
.h300 { height: 300px !important; }
.h400 { height: 400px !important; }
.h500 { height: 500px !important; }

/* helper > table/report */
table.ui-data-table {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}

table.ui-data-table th, table.ui-data-table td {
    border-right: none !important;
    border-left: none !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f1f1f1;
}

table.ui-data-table th {
    padding: 5px 10px;
    text-align: left;
}

table.ui-data-table td {
    padding: 5px;
    border-top: none !important;
}

table.ui-data-table tr.ui-state-hover, table.ui-data-table td.ui-state-hover {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

table.ui-data-table td.ui-state-hover {
    font-weight: normal !important;
}

table.ui-data-table tbody tr td { 
    vertical-align: middle;
}

table.ui-data-table tbody tr td.btns { 
    width: 1%;
    white-space: nowrap;
}

table.ui-data-table tbody tr td.btns .ui-button { 
    margin-left: 5px;
}

table.ui-data-table table { 
    width: 100%;
}

table.ui-tree-view .num { 
    width: 110px;
}

table.ui-tree-view .ui-tree-spacer { 
    height: 22px;
    float: left;
}

table.ui-tree-view .toggler { 
    cursor: pointer;
}

table.ui-tree-view .toggler .ui-icon { 
    padding-right: 5px;
    float: right;
}


/* home */
#dialog-unidade {
    width: 400px;
}

#dialog-error p {
    padding: 10px 0;
}

#dialog-error p span {
    float: left;
    margin: 2px 10px;
}


abbr {
    cursor: help;
    padding-bottom: 2px !important;
    border-bottom: 1px dashed #999 !important;
}

body {
    color: #333;
    font-size: 14px;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

code, pre {
    padding: 0 3px 2px;
    font-family: UbuntuMono, Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 9px;
    font-size: 12.025px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}
