{% for dado in relatorio.dados %}
<div class="header">
    <h2>{{ dado.unidade }}</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Sigla{% endtrans %}</th>
            <th>{% trans %}Serviço{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for su in dado.servicos %}
        <tr>
            <td class="w25 center">{{ su.sigla }}</td>
            <td class="strong">
                {{ su.servico.nome }}
                {% if su.servico.subServicos|length %}
                    <ul>
                        {% for subServico in su.servico.subServicos %}
                            <li>{{ subServico.nome }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}