<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Serviço{% endtrans %}</th>
            <th>{% trans %}Situação{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for servico in relatorio.dados %}
        <tr>
            <td class="strong">{{ servico.nome }}</td>
            <td class="w100 center">
                {% if servico.status == 1 %}
                    <span class="status-active">{% trans %}Ativo{% endtrans %}</span>
                {% else %}
                    <span class="status-inactive">{% trans %}Inativo{% endtrans %}</span>
                {% endif %}
            </td>
        </tr>
        {% if servico.subServicos|length %}
        <tr class="sub-table">
            <td colspan="2">
                <table class="table table-striped subservicos">
                    <tbody>
                        {% for subServico in servico.subServicos %}
                        <tr>
                            <td class="nome">{{ subServico.nome }}</td>
                            <td class="w100 center">
                                {% if subServico.status == 1 %}
                                    <span class="status-active">{% trans %}Ativo{% endtrans %}</span>
                                {% else %}
                                    <span class="status-inactive">{% trans %}Inativo{% endtrans %}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>