/**
 * Novo SGA - Cargos
 * icon(s) by pixel-mixer.com
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
 
.permissoes .modulos {
    width: 300px;
    float: left;
}
 
.permissoes h4 {
    padding: 15px 0 5px 0;
}
 
.permissoes .modulos li {
    padding: 5px;
    list-style: none;
}

.permissoes .modulos li label {
    padding: 0 5px;
}