/**
 * Novo SGA - Estatisticas
 * icon(s) by pixel-mixer.com
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */

.chart-title {
    padding: 20px 0 10px 0;
}

.chart-unidade {
    margin: 0;
}

.chart-unidade .title {
    padding: 20px 0 10px 0;
    text-align: center;
}

.chart-unidade .wrap {
    padding: 10px;
}

.chart-unidade .pie {
}

.chart-unidade .loading {
    color: #333;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: #f1f1f1;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: 25px center;
    display: block;
}
