{% extends "crud/list.html.twig" %}
{% block thead %}
    <th>{% trans %}Nome{% endtrans %}</th>
    <th>{% trans %}Macro{% endtrans %}</th>
    <th>{% trans %}Status{% endtrans %}</th>
{% endblock %}
{% block tbody %}
    <td>
        {% if not item.mestre %}
            <strong>{{ item.nome }}</strong>
        {% else %}
            {{ item.nome }}
        {% endif %}
    </td>
    <td>{{ item.mestre.nome }}</td>
    <td>
        {% if item.status == 1 %}
        <span class="status-active">{% trans %}Ativo{% endtrans %}</span>
        {% else %}
        <span class="status-inactive">{% trans %}Inativo{% endtrans %}</span>
        {% endif %}
    </td>
{% endblock %}