{% extends "admin.html.twig" %}

{% block adminContent %}
    <h1>
        {% trans %}Locais{% endtrans %}
        <small>
            {% trans %}Cadastro de locais de atendimento{% endtrans %}
        </small>
    </h1>
        
    <div class="text-right">
        <a href="{{ path('admin_locais_new') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {% trans %}Novo local{% endtrans %}
        </a>
    </div>
        
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %}Nome{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for local in locais %}
                <tr>
                    <td>
                        {{ local.id }}
                    </td>
                    <td>
                        {{ local.nome }}
                    </td>
                    <td>
                        <a href="{{ path('admin_locais_edit', { id: local.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}