{% extends "::base.html.twig" %}

{% block body %}
    <table id="datatable" class="table table-striped">
        <thead>
            <th>#</th>
            <th>{% trans %}Nome{% endtrans %}</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        (function() {
            'use strict'
            
            $('#datatable').dataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ajax: '{{ path('novosga_roles_search') }}',
                pageLength: 10,
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'nome'
                    },
                    {
                        data: 'id',
                        render: function (id) {
                            return '<a href="{{ path('novosga_roles_index') }}edit/' + id + '" class="btn btn-default"><i class="fa fa-edit"></i></a>';
                        }
                    }
                ]
            }).on('preXhr.dt', function (e, settings, data) {
                $('#search-form :input').each(function (i, e) {
                    var input = $(e);
                    data.search[input.prop('name')] = input.val();
                });
            }).on('draw.dt', function () {
                
            });
        })();
    </script>
{% endblock %}