{% extends "install/install.html.twig" %}
{% block content %}
<div id="step_2" class="container">
    <div>
        <textarea id="license_textarea" readonly="readonly">{{ license }}</textarea>
    </div>
    <div class="check">
        <input type="checkbox" id="check_license" name="check_license" value="license_ok" onclick="SGA.Install.changeAcceptLicense();" />
        <label for="check_license">Li e concordo com os termos da licença</label>
    </div>
</div>
{% endblock %}