{% extends "install/install.html.twig" %}

{% block content %}
    <div id="step_4">
        {% if currVersion %}
        <h2>{% trans %}Uma versão já instalada do Novo SGA foi identificada.{% endtrans %}</h2>
        <p>{% trans %}Foi identificado que o banco de dados atual possui a versão {{ currVersion }} do Novo SGA.{% endtrans %}</p>
        <p>{% trans %}O instalador irá executar os scripts de migração para atualizar o banco. Caso você não queira atualizar, certifique-se que o banco esteja vazio e recarregue essa página.{% endtrans %}</p>
        <script type="text/javascript">SGA.Install.isMigration = true;</script>
        {% else %}
        <form role="form" onsubmit="return false">
            <fieldset>
                <legend>{% trans %}Administrador{% endtrans %}</legend>
                <div id="db_admin_error" class="alert alert-danger" style="display: none"></div>
                <div class="form-group">
                    <label for="nome">{% trans %}Nome{% endtrans %}:</label>
                    <input type="text" id="nome" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="sobrenome">{% trans %}Sobrenome{% endtrans %}:</label>
                    <input type="text" id="sobrenome" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="login">{% trans %}Usuário{% endtrans %}:</label>
                    <input type="text" id="login" onkeyup="SGA.Form.loginValue(this)" maxlength="20" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="senha">{% trans %}Senha{% endtrans %}:</label>
                    <input type="password" id="senha" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="senha_2">{% trans%}Confirmar Senha{% endtrans %}:</label>
                    <input type="password" id="senha_2" class="form-control" />
                </div>
                <script type="text/javascript">
                    {% for field, message in data.admin %}
                    SGA.Install.adminData.{{ field }} = "{{ data.admin[field] }}";
                    {% endfor %}
                    SGA.Install.loadAdminData();
                </script>
            </fieldset>
        </form>
        {% endif %}
    </div>
{% endblock %}