{% extends "install/install.html.twig" %}

{% block content %}
    <div id="step_5">
        <h1>{% trans %}Instalar{% endtrans %}</h1>
        <div id="install_error" class="alert alert-danger" style="display: none">
        </div>
        <div id="install_success" class="alert alert-success" style="display: none">
        </div>
        <p>{% trans %}Clique em Instalar para iniciar o processo de instalação do sistema.{% endtrans %}</p>
        <div class="alert alert-warning">
            <strong>{% trans %}Atenção{% endtrans %}</strong>: 
            {% trans %}Ao clicar em instalar, caso já exista uma instalação do Novo SGA (versão 1.0.0 ou superior) no banco especificado, a mesma será atualizada.{% endtrans %}
        </div>
        <div class="btns">
            <button id="btn_install_final" onclick="SGA.Install.doInstall()" class="btn btn-success"
                    title="{% trans %}Clique para iniciar o processo final de instalação.{% endtrans %}">{% trans %}Instalar{% endtrans %}</button>

            <button id="btn_redirect" onclick="window.location = '{{ baseUrl() }}'" class="btn btn-primary" style="display:none"
                    title="{% trans %}Clique para iniciar a utilização do SGA.{% endtrans %}">{% trans %}Ir para tela de login{% endtrans %}</button>
            <span id="install-loading" class="mini-loading" style="display: none"></span>
        </div>
    </div>
{% endblock %}