{% extends "install/install.html.twig" %}

{% block content %}
    <div id="step_2">
        <div>
            <textarea id="license_textarea" readonly="readonly">{{ license }}</textarea>
        </div>
        <div class="check">
            <input type="checkbox" id="check_license" name="check_license" value="license_ok" onclick="SGA.Install.changeAcceptLicense();" />
            <label for="check_license">{% trans %}Li e concordo com os termos da licença{% endtrans %}</label>
        </div>
    </div>
{% endblock %}