AppBundle\Entity\SequencialModel:
    type: mappedSuperclass
    id:
        id:
            type: integer
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            id: true
            generator:
                strategy: IDENTITY