/* 
    Document   : style
    Created on : 20/02/2013, 15:12:52
    Author     : ralfilho
    Description:
        Purpose of the stylesheet follows.
*/
/*
#root {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: #fff;
    -fx-border-width: 0px;
    -fx-border-color: #999;
    -fx-border-style: solid;
}

#mensagem { 
    -fx-background-color: red;
}

#senha { 
    -fx-background-color: yellow;
}

#guiche { 
    -fx-background-color: blue;
}

#numero { 
    -fx-background-color: red;
}*/

