{% extends "install/install.html" %}
{% block content %}
<div id="step_4" class="container">
    {% if currVersion %}
    <h2>Uma versão já instalada do SGA foi identificada.</h2>
    <p>Foi identificado que o banco de dados atual possui a versão "{{ currVersion }}" do SGA.</p>
    <p>O instalador irá executar os scripts de migração para atualizar o banco. Caso você não queira atualizar, certifique-se que o banco esteja vazio e recarregue essa página.</p>
    <script type="text/javascript">SGA.Install.isMigration = true;</script>
    {% else %}
    <form role="form" onsubmit="return false">
        <fieldset>
            <legend>Administrador</legend>
            <div id="db_admin_error" class="alert alert-danger" style="display: none"></div>
            <div class="form-group">
                <label for="nm_usu">Nome:</label>
                <input type="text" id="nm_usu" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ult_nm_usu">Sobrenome:</label>
                <input type="text" id="ult_nm_usu" class="form-control" />
            </div>
            <div class="form-group">
                <label for="login_usu">Usuário:</label>
                <input type="text" id="login_usu" onkeyup="SGA.Form.loginValue(this)" maxlength="20" class="form-control" />
            </div>
            <div class="form-group">
                <label for="senha_usu">Senha:</label>
                <input type="password" id="senha_usu" class="form-control" />
            </div>
            <div class="form-group">
                <label for="senha_usu_2">Confirmar Senha:</label>
                <input type="password" id="senha_usu_2" class="form-control" />
            </div>
            <script type="text/javascript">
                {% for field, message in data.admin %}
                SGA.Install.adminData.{{ field }} = "{{ data.admin[field] }}";
                {% endfor %}
                SGA.Install.loadAdminData();
            </script>
        </fieldset>
    </form>
    {% endif %}
</div>
{% endblock %}