/**
 * Novo SGA - Monitor
 * icon(s) by pixel-mixer.com
 * @author rogeriolino
 */
 
#monitor .menu {
    height: 50px;
    margin-bottom: 5px;
    padding: 0 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F7F9FE;
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 1px solid #e1e1e8;
}

#monitor .menu h4 {
    padding: 13px 20px;
    float: left;
}

#monitor .menu ul {
    padding: 10px 0 0 0;
}

#monitor .menu ul li {
    list-style: none;
    display: inline;
}
 
#monitor .servico {
    margin: 5px 0;
    padding: 5px;
}

#monitor .servico .title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 0 5px;
    display: block;
}

#monitor .servico.empty { display: none; }

#monitor .servico .fila {
    height: 20px;
    margin: 0;
    padding: 2px 0 2px 25px;
    background-image: url(../images/client-16.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}

#monitor .servico .fila li {
    padding: 2px 5px;
    list-style: none;
    float: left;
}

#monitor .servico .fila li a {
    float: left;
}

#dialog-monitor fieldset {
    margin-bottom: 20px;
}

#dialog-monitor div {
    padding: 3px 0;
    clear: both;
}

#dialog-monitor div label {
    width: 120px;
    font-weight: bold;
    float: left;
}